<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div id = "email_form">
        <form>
            <label for = "sender">Sender</label> 
            <input type ="text" placeholder = "e.g. john.doe@company.com@domain" id ="sender"></input> <br>
            
            <label for = "subject">Subject</label> 
            <input type ="text" placeholder = "e.g. Quarterly Report – Q3 Review" id ="subject"></input> <br>

            <label for = "body">Body</label> 
            <input type ="text" placeholder = "Paste the email content here..." id ="body"></input> <br>
        </form>
        <button>Classify</button>
    </div>
</body>
</html>